<form [formGroup]="formulario" (ngSubmit)="enviar()" class="needs-validation" novalidate>

    <div class="form-group mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input id="nombre" formControlName="nombre" type="text" class="form-control" [ngClass]="{'is-invalid': formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched}" />
      <div *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched" class="invalid-feedback">
        <small *ngIf="formulario.get('nombre')?.errors?.['required']">El nombre es obligatorio.</small>
        <small *ngIf="formulario.get('nombre')?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</small>
        <small *ngIf="formulario.get('nombre')?.errors?.['pattern']">No se admiten numeros</small>
      </div>
    </div>
  
    <!-- Campo Email -->
    <div class="form-group mb-3">
      <label for="email" class="form-label">Email:</label>
      <input id="email" formControlName="email" type="email" class="form-control" [ngClass]="{'is-invalid': formulario.get('email')?.invalid && formulario.get('email')?.touched}" />
      <div *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched" class="invalid-feedback">
        <small *ngIf="formulario.get('email')?.errors?.['required']">El email es obligatorio.</small>
        <small *ngIf="formulario.get('email')?.errors?.['email']">El formato del email es incorrecto.</small>
      </div>
    </div>
  
    <!-- Campo Teléfono -->
    <div class="form-group mb-3">
      <label for="telefono" class="form-label">Teléfono:</label>
      <input id="telefono" formControlName="telefono" type="text" class="form-control" [ngClass]="{'is-invalid': formulario.get('telefono')?.invalid && formulario.get('telefono')?.touched}" />
      <div *ngIf="formulario.get('telefono')?.invalid && formulario.get('telefono')?.touched" class="invalid-feedback">
        <small *ngIf="formulario.get('telefono')?.errors?.['required']">El teléfono es obligatorio.</small>
        <small *ngIf="formulario.get('telefono')?.errors?.['pattern']">El teléfono debe tener 9 dígitos.</small>
      </div>
    </div>
  
    <!-- Campo Dirección -->
    <div class="form-group mb-3">
      <label for="direccion" class="form-label">Dirección:</label>
      <input id="direccion" formControlName="direccion" type="text" class="form-control" [ngClass]="{'is-invalid': formulario.get('direccion')?.invalid && formulario.get('direccion')?.touched}" />
      <div *ngIf="formulario.get('direccion')?.invalid && formulario.get('direccion')?.touched" class="invalid-feedback">
        <small *ngIf="formulario.get('direccion')?.errors?.['required']">La dirección es obligatoria.</small>
      </div>
    </div>
  
    <!-- Botón de Enviar -->
    <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">Enviar</button>
  
  </form>
  